<link rel="stylesheet" href="__CSS_PATH__aboutsus.css">
{include file='public/header' title='$title' /}

<style>
    .banner-img {
        height: auto;
    }

</style>

<div class="container">
    <div class="row">
        <!-- banner开始 -->
        <div class="banner-img">
            <img src="__IMG_PATH__aboutsus/banner.jpg" alt="">
        </div>
        <!-- banner结束 -->
        <!-- 分割线开始 -->
        <div class="aboutus">
            <div class='line'></div>
            <div class="guanyu">
                <div class="zhongwen">关于我们</div>
                <div class="yingwen">About Us</div>
            </div>
            <div class="line"></div>
        </div>
        <!-- 分割线结束 -->
        <!-- 详细介绍开始 -->
        <div class="content">
            <div class="content-wenzi col-lg-6">
                <p class="wenzi">
                    2010年，来自深圳的贾先生来到山西创建了一家西餐茶食厅，当时营业面积只有70多平方米，主要经营西餐茶食小吃。改名为三组小食堂。“三组小食堂”以经营西餐为主，建筑和饮食风格收到广大顾客的欢迎。</p>
                <p class="wenzi">目前餐厅营业面积1500平方米，员工120人。
                    一楼为现代派欧洲园林式酒吧风格；二楼为前苏联莫斯科“克里姆林宫”风格，设有高级单间；三楼为俄罗斯现代派风格，分南北两厅。现有四名特级西餐厨师亲自掌灶，这里的佳肴令您回味无穷、留连忘返。
                </p>
                <p class="wenzi">真诚期望，三组能成为您的西餐首选！</p>
            </div>
            <div class="img col-lg-6">
                <img src="__IMG_PATH__aboutsus/祥介.jpg" alt="">
            </div>
        </div>

        <div class="aboutus">
            <div class='line'></div>
            <div class="guanyu">
                <div class="zhongwen">高级厨师</div>
                <div class="yingwen">Cook</div>
            </div>
            <div class="line"></div>
        </div>
        <!-- 详细介绍结束 -->
        <!-- 导游介绍开始 -->
        <div class="guide">
            <div class="guide-detail col-lg-3">
                <div class="guide-detail-img">
                    <img src="__IMG_PATH__aboutsus/photo.jpg" alt="">
                </div>
                <div class="guide-detail-name">张一</div>
                <div class="guide-detail-pos">一级厨师</div>
            </div>
            <div class="guide-detail col-lg-3">
                <div class="guide-detail-img">
                    <img src="__IMG_PATH__aboutsus/photo.jpg" alt="">
                </div>
                <div class="guide-detail-name">张二</div>
                <div class="guide-detail-pos">一级厨师</div>
            </div>
            <div class="guide-detail col-lg-3">
                <div class="guide-detail-img">
                    <img src="__IMG_PATH__aboutsus/photo.jpg" alt="">
                </div>
                <div class="guide-detail-name">张三</div>
                <div class="guide-detail-pos">一级厨师</div>
            </div>
            <div class="guide-detail col-lg-3">
                <div class="guide-detail-img">
                    <img src="__IMG_PATH__aboutsus/photo.jpg" alt="">
                </div>
                <div class="guide-detail-name">张四</div>
                <div class="guide-detail-pos">一级厨师</div>
            </div>
        </div>
        <!-- 导游介绍结束 -->
    </div>
</div>
<!-- 站点地图开始 -->
{include file='public/fooder' /}



