
    <link rel="stylesheet" href="__CSS_PATH__service.css">
    {include file='public/header' title='$title' /}

    <style>
        .col-xs-12{
            height:auto;
        }
        .photo img{
            height:auto;
        }
    </style>

    <!-- 头部图片开始 -->
    <div class="container">
        <div class="banner-box col-lg-12 col-md-12 col-xs-12">
            <a href="" class="photo">
                <img src="__IMG_PATH__service/banner-1.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- 头部图片结束 -->
    <!-- 中间文字部分开始 -->
    <div class="container">
        <div class="row">
            <div class="title-bigbox ">
                <div class="line-left  col-lg-5 col-md-5  col-xs-4">

                </div>
                <div class="header-title col-lg-2 col-md-2 col-xs-4">
                    <dic class="title-cn">
                        服务项目
                    </dic>
                    <div class="title-en">
                        <span>Service</span>
                    </div>
                </div>
                <div class="line-right col-lg-5 col-md-5  col-xs-4">

                </div>
            </div>
        </div>
    </div>
    <!-- 中间文字部分结束  -->
    <!-- 内容部分开始 -->
    <div class="row">
        <div class="container">
            <div class="content-box">
                <div class="list-box animated col-lg-3 col-md-12 col-xs-12">
                    <img src="__IMG_PATH__service/p1.jpg@80q" alt="" class="pic" col-lg-3 col-md-3 col-xs-3>
                    <div class="content-title">
                        <strong>在线试吃</strong>
                    </div>
                    <img src="__IMG_PATH__service/内容横杠.png" alt="" class="line">
                    <div class="content">
                        网上提交订单
                        <br>接收素食材料
                        <br> or来食堂试吃
                        <br>细品
                        <br>
                    </div>
                </div>
                <div class="list-box animated col-lg-3 col-md-12 col-xs-12">
                    <img src="__IMG_PATH__service/p2.jpg@80q" alt="" class="pic" col-lg-3 col-md-3 col-xs-3>
                    <div class="content-title">
                        <strong>当地美食</strong>
                    </div>
                    <!-- <div class="line-box"> -->
                    <img src="__IMG_PATH__service/内容横杠.png" alt="" class="line">
                    <!-- </div> -->
                    <div class="content">
                        多样玩乐<br> 时间自由
                        <br> 随意搭配
                        <br> 舒适体验
                        <br>
                    </div>
                </div>
                <div class="list-box animated col-lg-3 col-md-12 col-xs-12">
                    <img src="__IMG_PATH__service/p3.jpg@80q" alt="" class="pic" col-lg-3 col-md-3 col-xs-3>
                    <div class="content-title">
                        <strong>加盟合作</strong>
                    </div>
                    <img src="__IMG_PATH__service/内容横杠.png" alt="" class="line">
                    <div class="content">
                        求加盟
                        <br> 远距离加盟优选
                        <br> 定制店铺风格
                        <br>
                    </div>
                </div>
                <div class="list-box animated col-lg-3 col-md-12 col-xs-12">
                    <img src="__IMG_PATH__service/p4.jpg@80q" alt="" class="pic" col-lg-3 col-md-3 col-xs-3>
                    <div class="content-title">
                        <strong>意向求职</strong>
                    </div>
                    <img src="__IMG_PATH__service/内容横杠.png" alt="" class="line">
                    <div class="content">
                        应聘厨师：高级厨师10K+<br> 应聘服务生：6K+
                        <br> 应聘前台：5K+
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容部分结束 -->


    <!-- 站点地图开始 -->
    {include file='public/fooder' /}
<script src="__JS_PATH__service.js"></script>