<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加导航</title>
    <link rel="stylesheet" href="/thinkphp/public/static/css/layui.css">
    <script src="/thinkphp/public/static/layui.js"></script>
</head>
<body>
<form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <div class="layui-form-item">
        <label class="layui-form-label">导航名称</label>
        <div class="layui-input-block">
            <input type="text" lay-verify="nname|cn" name="nname" placeholder="请输入导航名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">英文名称</label>
        <div class="layui-input-block">
            <input type="text" lay-verify="nname|en" name="ename" placeholder="请输入导航英文名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">导航模板</label>
        <div class="layui-input-block">
            <input type="text" lay-verify="nname" name="ntpl" placeholder="请输入导航模板" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">导航排序</label>
        <div class="layui-input-block">
            <input type="number" lay-verify="len" name="nsort" placeholder="请输入导航排序" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="go">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>

<script>
    layui.use(['form','layer'],function(){
        let form = layui.form,$ =layui.jquery,layer = layui.layer;
        form.on('submit(go)',function(data){
            let qs = data.field;
            $.ajax({
                url: '/thinkphp/public/admin/nav/insert',
                dataType:'json',
                data:qs,
                type:'POST',
                success:function(res){
                    if(res.code === 200){
                        layer.open({
                            title:'太棒啦！(◕ᴗ◕✿)',
                            content:res.msg,
                            anim: 5
                        });
                    } else {
                        layer.open({
                            title:'真可惜！(▼ヘ▼#)',
                            content:res.msg,
                            anim: 4
                        });
                    }
                },
            });
            return false;
        });
        form.verify({
            nname: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!value){
                    return '不能为空'
                }
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\ \s·]+$").test(value)){
                    return '导航名输入错误';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '导航名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '导航名不能全为数字';
                }
            },
            cn:[
                /^[0-9_\u4e00-\u9fa5\s·]{1,10}$/,
                '请输入不超出10位的中文名称'
            ],
            en:[
                /^[a-zA-Z0-9][a-zA-Z0-9\s]{1,19}$/,
                '请输入不超出20位的英文名称'
            ],
            len: [
                /^[\S]{1,2}$/
                ,'序号在0到99之间，且不能出现空格'
            ]
        });



    })


</script>